// Colors
$color-row: #eee;
$color-hover: #ffbfcb;

// Retreat
$pading-main: 10px;
$gap-main: 1px;

// Size
$cell-size: 100px;
$colmns-main: 7;
$total-width: ($colmns-main * $cell-size) + (($colmns-main - 1) * $gap-main) + пше(2 * $pading-main);

// Fonts
$font-main: Arial, sans-serif;

// Days
$days-in-month: 31;
