// Colors
$color-row: #eee;
$color-hover: #ffbfcb;

// Retreat
$padding-main: 10px;
$gap-main: 1px;

// Size
$cell-size: 100px;
$columns-main: 7;
$total-width: ($columns-main * $cell-size) + (($columns-main - 1) * $gap-main) +
  (2 * $padding-main);

// Fonts
$font-main: Arial, sans-serif;

// Days
$days-in-month: 31;
